.first-image {
    background-image: url("./images/massage-599532_960_720.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1, 1.1);
  }

  .services-image{
    background-image: url("./images/alan-caishan-cU53ZFBr3lk-unsplash-medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1, 1.1);
  }

  .appointment-image{
    background-image: url("./images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1, 1.1);
  }

  .massage-image {
    background-image: url("./images/katherine-hanlon-83RTpUBjyYY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1, 1.1);
  }

  .facials-image {
    background-image: url("./images/facials.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.1, 1.1);
  }

body {
  font-family: "Open Sans", sans-serif; }

h1 {
  padding-left: 150px;
  padding-top: 150px; }

.header-text {
  color: #117182; }

.paragraph-text {
  color: #42afc2; }

.h2-services {
  padding-left: 150px;
  padding-top: 150px; }

.services-links {
  text-decoration: none;
  color: #42afc2; }

.site-footer {
  background-color: #42afc2; }

.icons {
  color: black; }

.bg-1 {
  background-color: #42afc2; }

.make-appointment {
  background-color: #42afc2;
  text-decoration: none;
  color: white; }

